<div class="page-title">
	<h1><%= @user.username %> Page</h1>
</div>
<br>
<h4>Liked Albums</h4>
<br>

<div class="albums-container">
<% @albums.each do |album| %>
	
	<div class="album-card" id="">
		<%= link_to album_path(album) do %>
		<div class="album-image">
			<%= image_tag(album.image) %>

			<div class="album-card-info">
				<strong><%= album.name %></strong>
				<p><%= album.artist %></p>
			</div>
		</div>
		<% end %>

		<div class="album-card-footer">
			<p>Score: <%= album.cached_votes_total %></p>
			<% if logged_in? %>
				<%= link_to 'Vote', like_album_path(album) %>
			<% else %>
				<%= link_to 'Log In to Vote', login_path %>
			<% end %>
		</div>
	</div>
	
<% end %>
</div>