<div class="page-title">
	<h1><%= @album.name %></h1>
</div>

<div class="albums-container">
	<div class="album-card" id="">

		<div class="album-image">
			<%= image_tag(@album.image) %>

			<div class="album-card-info">
				<strong><%= @album.name %></strong>
				<p><%= @album.artist %></p>
			</div>
		</div>

		<div class="album-card-footer">
			<p>Score: <%= @album.cached_votes_total %></p>
			<% if logged_in? %>
				<%= link_to 'Vote', like_album_path(@album) %>
			<% else %>
				<%= link_to 'Log In to Vote', login_path %>
			<% end %>
		</div>
	</div>

	<div class="scroll">
	<p>
		<%= @album.name %><br><br>
		By <%= @album.artist %><br><br>
		Released on <br> <%= @album.release_date %><br><br>
		Total Tracks: <%= @album.total_tracks %><br>
	</p>
	</div>
</div>